<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>project</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/site.css"/>
</head>

<body ng-controller="GlobalController as global">
  <div class="container">
  <ul>
    <li><a ui-sref="Home"><span class="glyphicon glyphicon-home"></span></a></li>
    <!-- <li><a ui-sref="Food"><span class="glyphicon glyphicon-apple"></span></a></li>
    <li><a ui-sref="Lists"><span class="glyphicon glyphicon-th-list"></span></a></li> -->
    <li style="float:right" ng-show="global.status._id"><a ui-sref="Login"><span class="glyphicon glyphicon-user"></span></a></li>
    <li style="float:right" ng-show="!global.status._id"><a ui-sref="Account"><span class="glyphicon glyphicon-user"></span></a></li>

  </ul>
</div>

<div class="container">
  <ui-view></ui-view>

</div>

  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/js/app.js"></script>
  <script src="/js/services/FoodService.js"></script>
  <script src="/js/services/TripService.js"></script>
  <script src="/js/services/UserService.js"></script>
  <script src="/js/services/AuthInterceptor.js"></script>
  <script src="/js/controllers/UserController.js"></script>
  <script src="/js/controllers/RegisterController.js"></script>
  <script src="/js/controllers/AccountController.js"></script>
  <script src="/js/controllers/GlobalController.js"></script>
  <script src="/js/controllers/TripController.js"></script>
  <script src="/js/controllers/TripAddController.js"></script>
  <script src="/js/controllers/TripDetailsController.js"></script>
  <script src="/js/controllers/FoodController.js"></script>
  <script src="/js/controllers/FoodAddController.js"></script>
  <script src="/js/controllers/FoodUpdateController.js"></script>

</body>

</html>
