<div class="background">
  <div class="container">
    <br />

    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br />
<center>

        <div class="widebox">
          <form ng-submit="vm.update()" class="form-inline">
            <input type="text" ng-model="vm.item.name" class="form-control" placeholder="item name"/> <label>item name</label>
            <br />
            <input type="date" ng-model="vm.item.datePurch | date: 'longDate'" class="form-control"/> <label>date purchased</label>
            <br />
            <input type="date" ng-model="vm.item.dateExp | date: 'longDate'" class="form-control"/> <label>expiration date</label>
            <br />
            <select ng-model="vm.item.storage" style="border: 1px solid #ccc; height: 30px;" >
              <option value="" disabled="" >storage method</option>
              <option value="pantry">pantry</option>
              <option value="fridge">fridge</option>
              <option value="freezer">freezer</option>
            </select>
            <br />
            <br />
            <button type="submit" class="btn btn-primary">update</button>

          </form>

          <br />
          <br />

        </div>
      </center>

    </div>
    <div class="col-md-3"></div>
  </div>
  <br /><br />

</div>
