<div class="background">
  <div class="container">
    <br />
    <center>
      <h1 style="color:white">your groceries</h1>
    </center>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <center>
        <button ui-sref="FoodAdd" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
      </center>
      <br /><center>

        <div class="box" ng-repeat="c in vm.food">
          <strong><a ui-sref="FoodDetails({id:c._id})">{{c.name}}</a></strong>
          <br />
          <br />
          <div ng-show="c.storage==='pantry'">
            <img src="/images/pantry.jpg" />
          </div>
          <div ng-show="c.storage==='freezer'">
            <img src="/images/freezer.jpg" />
          </div>
          <div ng-show="c.storage==='fridge'">
            <img src="/images/fridge.jpg" />
          </div>
          <br />
          <br />
          <strong>exp date: {{c.dateExp | date: 'longDate'}}</strong>
        </div>
  

      </center>

    </div>
    <div class="col-md-3"></div>
  </div>
  <br /><br />

</div>
