<div class="background">
  <div class="container">
    <br />
    <center>
      <h1 style="color:white">your groceries</h1>
    </center>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <center>
        <button ui-sref="FoodAdd" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
      </center>
      <br />
        <div>
          <!-- show all added items  -->
        </div>

    </div>
    <div class="col-md-3"></div>
  </div>
  <br /><br />

</div>
