<div class="background">
  <div class="container">
    <br />
    <center>
      <h1 style="color:white">add some food</h1>
    </center>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br />
      <form class="form-inline" ng-submit="vm.create()">
        <input type="text" required ng-model="vm.item.name" class="form-control" placeholder="item name"/>
        <br />
        <input type="date" required ng-model="vm.item.datePurch" class="form-control"/><label>date purchased</label>
        <br />
        <input type="date" required ng-model="vm.item.dateExp" class="form-control"/><label>  expiration date</label>
        <br />
        <select required ng-model="vm.item.storage" style="border: 1px solid #ccc; height: 30px;" >
          <option value="" disabled="" >storage method</option>
          <option value="pantry">pantry</option>
          <option value="fridge">fridge</option>
          <option value="freezer">freezer</option>
        </select>
        <!-- <input type="hidden" ng-model="vm.item.pantryIMG" value="../images/pantry.jpg"/>
        <input type="hidden" ng-model="vm.item.freezerIMG" value="../images/freezer.jpg"/>
        <input type="hidden" ng-model="vm.item.fridgeIMG" value="../images/fridge.jpg"/> -->
        <br />
        <button type="submit" class="btn btn-primary">add</button>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br /><br />

</div>
