<div class="background">
  <div class="container">
    <br />
    <center>
      <h1 style="color:white">fridgeTracker</h1>
    </center>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br />
        <p>
          So much food is wasted all over the world. In the US alone, <strong style="color:white">30-40% of the food supply is wasted</strong>, equaling more than 20 pounds of food per person per month.
          <br /><br />
          At the consumer level, a lot of fresh groceries are not properly stored, or they are thrown out prematurely due to misunderstandings over sell/use by dates. And sometimes they're simply forgotten in the back of the fridge. Life happens.
          <br /><br />
          Although this problem is definitely not one that can be solved overnight, the goal of fridgeTracker is to help families reduce their food waste using technology to educate and inspire.
          <br /><br />
        </p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br /><br />

</div>
