<div class="background">
  <div class="container">
    <br />
    <center>
      <h1 style="color:white">add a trip</h1>
    </center>
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <form ng-submit="vm.createTrip()">
        <input type="hidden" ng-value="vm.trip._id"/>
        <input type="hidden" ng-value="vm.trip.dateCreated"/>
        <button type="submit" class="btn btn-primary">start a new shopping list</button>
      </form>
    </div>
    <div class="col-md-3">

    </div>
  </div>
  <br /><br />

</div>
