<div class="background">
  <div class="container">
    <br />
    <center>
      <h1 style="color:white">your shopping trips</h1>
    </center>
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <center>
        <button class="btn btn-primary" ui-sref="Groceries">View my Groceries</button>
        <button class="btn btn-primary" ui-sref="AddTrip">Add a trip!</button>
      </center>
      <br />
      <div ng-repeat="c in vm.trips">
        <span class="box">
          <strong>trip: {{c.dateCreated | date: 'longDate'}}</strong>
          <br />
          <button ui-sref="TripDetails({id:c._id})">details</button>
        </span>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
  <br /><br />

</div>
